html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    background: black;
    height: 100vh;
}

.help__text {
    position: fixed;
    width: 100%;
    height: 100%;
}

.help__text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
    word-wrap: break-word;
    text-align: center;
    user-select: none;
}

.help__text span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
    word-wrap: break-word;
    text-align: center;
    user-select: none;
}

.start__game {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:  1rem;
}

.heart {
    animation: progress .3s linear
}

@keyframes progress {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.3;
    }
}



#canvas {
    /* border: 0.2rem solid white; */
    border-radius: 5px;
    width: 60rem;
    height: 25rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-box-shadow: 5px 5px 47px 10px rgba(37, 129, 201, 0.56);
    -moz-box-shadow: 5px 5px 47px 10px rgba(37, 129, 201, 0.56);
    box-shadow: 5px 5px 47px 10px rgba(37, 129, 201, 0.56);
    padding: 2rem 2rem 4rem 2rem;
}

.navigation {
    position: relative;
    margin: 1rem auto;
    width: 80%;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid white; */
}

.navigation > button:active {
    background: #161715;
}

.left, .right, .up, .down, .turbo, .jump, .monster__count, .timer, .start__game {
    display: block;
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    background-color: black;
    -webkit-box-shadow: 0px 5px 18px 19px rgba(37, 129, 201, 0.2);
    -moz-box-shadow: 0px 5px 18px 19px rgba(37, 129, 201, 0.2);
    box-shadow: 0px 5px 18px 19px rgba(37, 129, 201, 0.2);
    transition: all .2s;
}

.timer {
    position: absolute;
    top: 5rem;
    left: 1rem;
    padding: 1rem;
    /* transform: translate(0, -50%);
    width: 14rem;
    height: 6rem;
    user-select: none; */
}


.left {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0, -50%);
    width: 14rem;
    height: 6rem;
    user-select: none;
}

.right {
    position: absolute;
    top: 50%;
    left: 18rem;
    transform: translate(0, -50%);
    width: 14rem;
    height: 6rem;
    user-select: none;
}

.up {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    height: 12rem;
    width: 6rem;
    word-break: break-all;
    user-select: none;
}

.down {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    height: 12rem;
    max-width: 6rem;
    word-break: break-all;
}

.turbo {
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translate(0, -50%); */
    width: 10rem;
    height: 10rem;
    user-select: none;
    border-radius: 50%;
    border: 1px solid white;
}

.jump {
    position: absolute;
    bottom: 0;
    right: 10rem;
    /* transform: translate(0, -50%); */
    width: 10rem;
    height: 10rem;
    user-select: none;
    border-radius: 50%;
    border: 1px solid white;
}

.monster__count {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    word-break: break-all;
}


@media only screen and (min-width: 1024px) {
    /* .left:hover, .right:hover, .up:hover, .down:hover {
        color: green;
    } */
}

.speed {
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 11;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #fff;
    font-size: 1.8rem;
    user-select: none;
}

.showSpeed {
    font-size: 1.8rem;
    color: aliceblue;
}

.range::-webkit-slider-runnable-track {
	width: 100%;
	height: 1rem;
	cursor: pointer;
	animate: 0.2s;
	background: #082801;
	border-radius: 25px;
}

.range::-webkit-slider-thumb {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -4px;
}

.disabled__element {
    pointer-events: none;
    opacity: .3;
}

@media only screen and (max-width: 1024px) {
    #canvas {
        border: none;
        width: 90%;
        height: 40vh;
        position: relative;
    }

    .navigation {
        position: relative;
        margin: 1rem auto;
        width: 100%;
        height: 30rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: none;
    }

    .speed {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 650px) {
    #canvas {
        border: none;
        /* width: 90vw; */
        height: 25vh;
        position: relative;
        padding: 1rem 1rem 2rem 1rem;
        /* margin: 1rem; */
    }

    .navigation {
        position: relative;
        margin: 1rem auto;
        width: 100%;
        height: 30rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: none;
    }

    .speed {
        justify-content: flex-end;
        top: 0;
        left: 1rem;
    }

    .jump {
        right: 0;
    }

    .monster__count {
        max-width: 50%;
    }
}